/target
/client/target
/signer/target
/.idea
/depositor/target
/shared/target
/wallet/target
.DS_Store
client/receipt.txt
wallet/wallet.json
vault-state.json
CLAUDE.md
client/client-config.json
client-config.json
